{# templates/image/upload.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Upload Image{% endblock %}

{% block body %}
    <h1>Upload Image for Recipe</h1>

    {{ form_start(form) }}
        {{ form_row(form.imageFile) }}
        <button class="btn btn-primary" type="submit">Upload</button>
    {{ form_end(form) }}
{% endblock %}