{% extends 'base.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block body %}
<article>
    <h1>Modifiè ressette</h1>

    {{ include('recipe/_form.html.twig', {'button_label': 'Update'}) }}

	<form action="{{ path('app_recipe_index') }}" method="get">
    <button type="submit" class="btn">Retour a tou les ressettes</button>
</form>

    {{ include('recipe/_delete_form.html.twig') }}
    </article>
{% endblock %}
