{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
<article>
    <h1>Fair nouvo ressette</h1>

    {{ include('recipe/_form.html.twig') }}
	<form action="{{ path('app_recipe_index') }}" method="get">
    <button type="submit" class="btn">Retour a tou les ressettes</button>
</form>
    </article>
{% endblock %}
